.App {
  flex: 1;
  position: relative;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#home-main {
  color: white;
  background-color: rgba(255, 255, 255, 0.6);
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

#slide-left {
  position: absolute;
  width: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 5px black;
  animation-name: slideleft;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#slide-left::before {
  content: "Unlock your sound";
  position: absolute;
  width: min-content;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  left: -180px;
  margin-top: 100px;
}

@keyframes slideleft {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 35%;
    opacity: 1;
  }
}

@keyframes slidedown {
  from {
    height: 0;
  }
  to {
    height: 93vh;
  }
}

@keyframes overlay {
  from {
    box-shadow: 0;
  }
  to {
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .main-content {
    font-size: 2rem;
  }

  .flex-main {
    width: fit-content;
  }
}
