.Product {
  display: flex;
  margin: 2rem auto 0;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 10px black;
}

.Product .display-img {
  width: 400px;
  align-self: center;
}

.item-display {
  display: flex;
  flex-direction: column;
}

.preview-imgs {
  display: flex;
  justify-content: space-evenly;
  padding-block: 1rem;
}

.preview-img {
  width: 150px;
  cursor: pointer;
}

.preview-img:hover {
  box-shadow: 0 1px black;
}

.purchase-btns {
  display: flex;
  justify-content: space-evenly;
}

.purchase-btns button {
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.purchase-btns button:hover {
  background-color: #aaa;
  color: black;
}

@media (max-width: 500px) {
  .preview-img {
    width: 100px;
  }

  .Product .display-img {
    width: 250px;
  }

  .purchase-btns button {
    padding: 1rem 1rem;
    font-size: 0.75rem;
  }
}
